#mainBackground{
    -fx-background-color: #7CAFC2;
    -fx-font-size: 12px;
}

.text-field {
    -fx-background-color: white , white , #7CAFC2;
    -fx-text-fill: white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;

}
.label{
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font: bold 12pt "ITC Stone";
}
.label-bright {
    -fx-font: bold 10pt "ITC Stone";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
.label-header {
    -fx-font: bold 10pt "ITC Stone";
    -fx-text-fill: white;
    -fx-opacity: 1;
}
#newCourselabel{
    -fx-font-size: 15pt;
    -fx-text-fill: white;
    -fx-opacity: 1;
    -fx-font: bold 12pt "ITC Stone";
}

.button {
    -fx-padding: 3 6 6 6;
    -fx-border-color: #e2e2e2;
    -fx-border-radius: 33;
    -fx-background-radius: 33;
    -fx-background-color: #8eadcc;
    -fx-font: bold 10pt "ITC Stone";
    -fx-text-fill: #d8d8d8;

}

.button:hover {
    -fx-background-color: #475666;
    -fx-background-radius: 33;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #475666;
    -fx-text-fill: #1d1d1d;
}

.button:focused {


}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: -fx-focus-color,30%;
}

.combo-box .list-cell
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 1.66667em;
}
.combo-box-popup .list-view
{
    -fx-background-color: white, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    .combo-box-popup .list-view .list-cell
     {
         -fx-padding: 4 0 4 5;

         /* No alternate highlighting */
         -fx-background-color: white;
     }
.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}
.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: white;
    -fx-text-fill: -fx-text-inner-color;
}
.combo-box-base {
    -fx-background-color: transparent, lightgrey, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-padding: 0.166667em; /* 2 */
}

.combo-box-base:hover  {
    -fx-background-color: transparent, #6699FF, transparent, transparent, white;

}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

.combo-box-base .arrow-button {
    -fx-background-color: transparent, lightgrey, transparent, white;
}

.combo-box-base .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box-popup .list-view {
    -fx-background-color: lightblue, -fx-control-inner-background;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell:hover{
    -fx-background: -fx-accent;
    -fx-background-color: lightblue;
    -fx-text-fill: black;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}

.combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6dcdff;
}

.combo-box-popup .list-view .list-cell:filled:pressed, .combo-box-popup .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}